<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="true" />
  </settings>

  <database>
    <provider name="sqlServer4.0" />
    <!--<dataSource name="MtBatisSQL" connectionString="Data Source=127.0.0.1;Initial Catalog=RLD_ACS_DB;UID=sa;PWD=123456;"/>-->
    <dataSource name="MtBatisSQL" connectionString="Data Source=121.201.97.113;Initial Catalog=RLD_ACS_DB;UID=sa;PWD=Zqit3503;"/>
  </database>

  <sqlMaps>
    <sqlMap embedded="MapConfig.Customer.xml, Rld.Acs.Repository.Mybatis.MsSql" />
  </sqlMaps>
</sqlMapConfig>