<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="true" />

  </settings>

  <database>
    <provider name="sqlServer4.0" />
    <dataSource name="MtBatisSQL" connectionString="Data Source=127.0.0.1;Initial Catalog=RLD_ACS_DB;UID=sa;PWD=123456;"/>
    <!--<dataSource name="MtBatisSQL" connectionString="Data Source=121.201.97.113;Initial Catalog=RLD_ACS_DB;UID=sa;PWD=Zqit3503;"/>-->
  </database>

  <sqlMaps>
    <!--Department-->
    <sqlMap embedded="MapConfig.Department.Department.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.Department.DepartmentDevice.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <!--Device-->
    <sqlMap embedded="MapConfig.Device.DeviceRole.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.Device.DeviceRolePermission.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.Device.DeviceController.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.Device.DeviceControllerParameter.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.Device.DeviceDoor.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.Device.DeviceHeadReading.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.Device.DeviceOperationLog.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.Device.DeviceStateHistory.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.Device.DeviceTrafficLog.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <!--System-->
    <sqlMap embedded="MapConfig.System.SysDictionary.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.System.SysModule.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.System.SysModuleElement.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.System.SysOperationLog.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.System.SysOperator.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.System.SysOperatorRole.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.System.SysRole.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.System.SysRolePermission.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.System.SysConfig.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <!--Time-->
    <sqlMap embedded="MapConfig.Time.TimeGroup.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.Time.TimeGroupSegment.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.Time.TimeSegment.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.Time.TimeZone.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.Time.TimeZoneGroup.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <!--User-->
    <sqlMap embedded="MapConfig.User.User.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.User.UserAuthentication.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.User.UserProperty.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.User.UserDeviceRole.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <!--Floor-->
    <sqlMap embedded="MapConfig.Floor.Floor.xml, Rld.Acs.Repository.Mybatis.MsSql" />
    <sqlMap embedded="MapConfig.Floor.FloorDoor.xml, Rld.Acs.Repository.Mybatis.MsSql" />
  </sqlMaps>
</sqlMapConfig>